[user]
	name = \"Peter
	email = \"braam@braam.io\"
[core]
	excludesfile = /Users/braam/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
